openai
flask==3.0.0
flask-cors==4.0.0
flask-jwt-extended>=4.6.0
flask-limiter>=3.5.0
werkzeug>=3.0.0
scikit-learn>=1.5.2
shap>=0.46.0
numpy>=2.1.0
pandas>=2.2.3
pyflakes==3.2.0
httpx==0.27.2
gunicorn
supabase>=2.3.0
python-dotenv>=1.0.1
duckduckgo-search>=5.3.1
